<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>标记地区轮廓</title>
    <link rel="stylesheet" href="swsghhz-style.css">
</head>

<body>
    <div id="fullPage">
        <div id="BMapContainer"></div>
        <div id="sidepanel" v-cloak>
            <div id="citylist">
                <p class="description">添加城市名称：</p>
                <input v-model="editingNewCity" @keydown.enter="addCity" type="text" style="width:80px">
                <input @click="addCity" type="button" value="添加城市">
                <ul>
                    <li v-for="each in reversedPlys">{{each.coverCityName}}</li>
                </ul>

            </div>

            <div id="configSet">

                <p style="background: yellow">{{editingPlyIndex>=0?("正在修改："+plys[editingPlyIndex].coverCityName):"编辑待添加的城市"}}</p>
                <fieldset>
                    <legend>边线</legend>

                    <label>边线宽度: <br/><input v-model="formStyleConfig.strokeWeight" type="range" min='1' max="10" >{{formStyleConfig.strokeWeight}}</label>

                    <label>选择边线颜色：<br/><input v-model="formStyleConfig.strokeColor" type="color" >hax:{{formStyleConfig.strokeColor}}</label>
                    <label>边线不透明度：<br/><input v-model="formStrokeOpacity" type="range" min='0' max="100" ></label>
                    <label><input v-model="formStyleConfig.strokeStyle" type="radio" name="strokeStyle" value="solid">实线</label>
                    <label><input v-model="formStyleConfig.strokeStyle" type="radio" name="strokeStyle" value="dashed">虚线</label>

                </fieldset>

                <fieldset>
                    <legend>填充</legend>
                    <label>选择填充颜色：<br/><input v-model="formStyleConfig.fillColor" type="color" >hax:{{formStyleConfig.fillColor}}</label>
                    <label>填充不透明度：<br/><input v-model="formFillOpacity" type="range" min='0' max="100" ></label>
                </fieldset>



                <input id='bt-delLast' type="button" @click="undoLast" value="撤销最近城市">
                <br/>
                <br/>
                <input @click="clearAllPlys" type="button" value="清除图像">
                <br>
                <a href="../swsghhz-v2/">使用旧版本</a>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
    <script src="vueapp.js"></script>
    <!--<script src="swsghhz-script.js"></script>-->
</body>

</html>