* {
    margin: 0;
    padding: 0;
}

#BMapContainer {
    position: absolute;
    left: 0;
    right: 360px;
    height: 100%;
}

#sidepanel {
    /*display: none;*/
    float: right;
    width: 350px;
}

#citylist {
    float: left;
    width: 150px;
}

#configSet {
    float: left;
    width: 200px;
}

#fullPage {
    /*transform: scale(0.3); */
    /* width:3000px; */
    /* position: relative; */
    /* height: 2000px; */
    height: 100%;
}

label {
    display: block;
    margin-top: 4px;
    margin-bottom: 6px;
    margin-left: 4px;
}

buttom{
    margin-top: 4px;
}

[v-cloak] {
    display: none;
}